.navbar {
    height: 50px;
    border-left: 0.5px solid grey;
    border-bottom: 0.5px solid grey;

    display: flex;
    align-items: center;
    background-color: white;
    font-size: 14px;

    color: white;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .items {
            display: flex;
            gap: 10px;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                .icon {
                    position: relative;
                    font-size: var(--first-font);
                    color: var(--second-color);
                }
    
                .counter {
                    width: 15px;
                    height: 15px;
                    padding: 1px;
                    font-size: var(--quater-font);
                    font-weight: 700;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 0;

                    @media only screen and (max-width: 768px) {
                        top:4px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .avatar-wrapper {
                background-color: var(--third-color);
                padding: 3px 6px;
                border-radius: 5px;
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 0.5px solid grey;
                }

                .user-name {
                    color: black;
                    font-size: var(--second-font);
                    font-weight: 700;
                }
            }
            }
            

        
    }
}